.featuers > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.featuers-item2 {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.featuers-item2_box {
    max-width: 350px;
    background-color: var(--clr-white100);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    text-align-last: center;
    border: 1px solid rgb(243, 240, 240);
}

.featuers-item2_box > img {
    height: 35px;
}

.featuers-item2_box > h5 {
    font-size: var(--size-xs);
    font-weight: 700;
}

@media (min-width: 768px) {
    .featuers-item2_box {
        height: 313px;
    }

    .featuers-item2_box > img {
        height: 50px;
    }

    .featuers-item2_box > h5 {
        font-size: var(--size-base);
    }
}
@media (min-width: 1280px) {
    .featuers-item2_box {
        height: 400px;
    }
    
    .featuers-item2_box > img {
        height: 65px;
    }

    .featuers-item2_box > h5 {
        font-size: var(--size-lg);
    }
}
